* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
}

input,
textarea {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

header,
footer,
section {
    float: left;
    width: 100%;
}

section {
    padding: 50px 0;
}

ul {
    list-style: none;
}

.inner {
    width: 1000px;
    margin: 0 auto;
}

.section-title {
    font-size: 60px;
    text-align: center;
}
/*-----------------------------------------*/
/*                  HEADER                 */
/*-----------------------------------------*/

header {
    height: 100px;
    line-height: 100px;
    background-color: #fff;
}

.header-logo {
    width: 160px;
    height: 98px;
    margin-top: 3px;
    float: left;
    padding-left: 100px;
    font-weight: normal;
    background-repeat: no-repeat;
    background-image: url(img/logo.png);
}

.header-nav {
    float: right;
}

.header-link {
    cursor: pointer;
    padding: 20px 10px;
}
/*-----------------------------------------*/
/*                  SLIDER                 */
/*-----------------------------------------*/

.slider {
    height: 350px;
    background-color: #ccc;
    animation-duration: 240s;
    animation-name: moveCloud;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-image: url(img/cloud.png);
}

.slider-techs {
    width: 483px;
    height: 126px;
    margin: 50px auto 0;
}

.slider-tech {
    width: 111px;
    height: 126px;
    float: left;
    margin: 0 25px;
    animation-duration: 2s;
    animation-name: bounce;
    animation-iteration-count: infinite;
    background-image: url(img/techs.png);
}

.slider-tech.angular {
    background-position: 0 0;
    animation-delay: 0s;
}

.slider-tech.node {
    background-position: -117px 0;
    animation-delay: 0.3s;
}

.slider-tech.html5 {
    background-position: -233px 0;
    animation-delay: 0.6s;
}

@keyframes moveCloud {
    from {
        background-position: 0 center;
    }
    to {
        background-position: -2756px center;
    }
}

@keyframes bounce {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 30px;
    }
    100% {
        margin-top: 0;
    }
}
/*-----------------------------------------*/
/*                TECNOLOGY                */
/*-----------------------------------------*/

.technology {
    padding: 80px 0;
    background-color: #fff;
}

.technology h2 {
    text-align: center;
    font-weight: normal;
}
/*-----------------------------------------*/
/*                 SERVICES                */
/*-----------------------------------------*/

.services {
    background-color: #eee;
}

.service-block {
    width: 100%;
    float: left;
    margin-top: 40px;
}

.service-text {
    float: left;
    width: 500px;
}

.service-title {
    float: left;
    width: 100%;
    margin: 15px 0;
    font-size: 26px;
    font-weight: normal;
}

.service-description {
    width: 100%;
    float: left;
    line-height: 22px;
}

.service-description p {
    margin: 5px 0;
}

.service-image {
    width: 430px;
    height: 250px;
    float: right;
    border-radius: 15px;
    background-image: url(img/services.jpg);
}

.service-block.right .service-text {
    float: right;
}

.service-block.right .service-image {
    float: left;
}

.service-development {
    background-position: 0 0;
}

.service-consultancy {
    background-position: 0 -250px;
}

.service-trainning {
    background-position: 0 -500px;
}
/*-----------------------------------------*/
/*                 CONTACT                 */
/*-----------------------------------------*/

.contact {
    background-color: #f5f5f5;
}

.contact-form {
    float: left;
    width: 450px;
    height: 325px;
    margin-top: 60px;
    padding-right: 25px;
    border-right: 1px solid #e0e0e0;
}

.contact-form label {
    display: block;
    margin: 20px 0 5px;
}

.contact-form label.first {
    margin-top: -25px;
}

.input-text,
.input-textarea {
    width: 100%;
    height: 30px;
    padding: 5px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
}

.input-textarea {
    resize: none;
    height: 120px;
    line-height: 20px;
}

.contact-text {
    float: right;
    width: 500px;
    font-size: 22px;
    text-align: center;
    margin-top: 60px;
}

.contact-submit {
    float: right;
    cursor: pointer;
    color: #fff;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: #7FB249;
    border: 1px solid #67913B;
}

.contact-info {
    float: right;
    width: 525px;
    font-size: 16px;
    margin-top: 40px;
    padding-top: 30px;
    padding-left: 70px;
    border-top: 1px solid #e0e0e0;
}

.contact-email,
.contact-address {
    float: left;
    line-height: 24px;
    padding: 10px 0 10px 40px;
    background-repeat: no-repeat;
    background-position: left center;
}

.contact-email {
    background-image: url(img/icon-email.png);
}

.contact-address {
    background-image: url(img/icon-local.png);
}
/*-----------------------------------------*/
/*                  FOOTER                 */
/*-----------------------------------------*/

footer {
    height: 280px;
    background-color: #333;
}

.footer-facebook {
    float: right;
    width: 550px;
    margin-top: 20px;
    background-color: #ccc;
}
